#topo {
  background-color: #333
}

body {
  background-color: rgb(219, 219, 219);
  margin: 0;
}

#topnav {
  background-color: #333;
  overflow: hidden;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}


#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


#topnav a:hover {
  background-color: #04AA6D;
  color: black;

}